# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

apiVersion: v1
kind: Service
metadata:
  name:  {{ include "rps.fullname" . }}
  labels:
    {{- include "rps.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.websocketServerport }}
    name: websockets
    protocol: TCP
    targetPort: {{ .Values.service.websocketServerport }}
    {{- if and (eq .Values.service.type "NodePort") (.Values.service.websocketServerNodePort) }}
    nodePort: {{ .Values.service.websocketServerNodePort }}
    {{- end }}
  - port: {{ .Values.service.webapiport }}
    name: webapi
    protocol: TCP
    targetPort: {{ .Values.service.webapiport }}
    {{- if and (eq .Values.service.type "NodePort") (.Values.service.webapiNodePort) }}
    nodePort: {{ .Values.service.webapiNodePort }}
    {{- end }}
  selector:
    {{- include "rps.selectorLabels" . | nindent 4 }}
