# SPDX-FileCopyrightText: (C) 2023 Intel Corporation
# SPDX-License-Identifier: LicenseRef-Intel
---
{{- $registry := .Values.global.registry -}}
{{ if .Values.image.registry }}
  {{- $registry = .Values.image.registry -}}
{{ end}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mps.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "mps.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mps.selectorLabels" . | nindent 8 }}
    spec:
      {{- if hasKey $registry "name" }}
      {{- with $registry.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if hasKey $registry "name" }}
          image: "{{ $registry.name }}{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 3000
            periodSeconds: 12
            timeoutSeconds: 12
            failureThreshold: 3
          env:
            - name: "MPS_LOG_LEVEL"
              value: "{{ .Values.mps.logLevel }}"   
            - name: "MPS_COMMON_NAME"
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: "MPS_CONNECTION_STRING"
              valueFrom:
                secretKeyRef:
                  name: mps
                  key: connectionString
            - name: "MPS_VAULT_ADDRESS"
              value: "{{ .Values.mps.vault_url }}"
            - name: "MPS_SECRETS_PATH"
              value: "{{ .Values.mps.secretpath }}"
            - name: "MPS_PORT"
              value: "{{ .Values.mps.port }}"
            - name : "MPS_WEB_AUTH_ENABLED"
              value: "{{ .Values.mps.auth_enabled }}"
            - name: "MPS_INSTANCE_NAME"
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: "MPS_JWT_SECRET"
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.mps.secrets.openjwt }}"
                  key: secret
            - name: MPS_VAULT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: vault-token
                  key: vault-token
            - name: MPS_WEB_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.mps.secrets.mpswebname }}"
                  key: user
            - name: MPS_WEB_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.mps.secrets.mpswebname }}"
                  key: password
          ports:
            - containerPort: 3000
              name: mps
            - containerPort: 4433
              name: mpsws
              protocol: TCP
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
