# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Values.job.secretjob.name }}"
  namespace: {{ .Release.Namespace }}
spec:
  completions: 1
  parallelism: 1
  template:
    spec:
      serviceAccountName: "{{ .Values.rbac.serviceaccount }}"
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsNonRoot: true
        runAsUser: 65534
      containers:
      - name: db-password-secret
        image: bitnami/kubectl:latest
        command: ["/bin/bash", "-c", "cp /scripts/db-script.sh /test/db-script.sh && chmod +x /test/db-script.sh && /test/db-script.sh"]
        volumeMounts:
        - name: cm-vol
          mountPath: /scripts
        - name: exec-volume
          mountPath: /test
        securityContext:
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          runAsNonRoot: true
      restartPolicy: Never
      volumes:
      - name: cm-vol
        configMap:
          name: "{{ .Values.job.secretjob.configmap }}"
      - name: exec-volume
        emptyDir: {}
