# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: v1
kind: Service
metadata:
  name:  {{ include "mps.fullname" . }}
  labels:
    {{- include "mps.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.ciraport }}
    name: cira
    protocol: TCP
    appProtocol: tcp
    targetPort: {{ .Values.service.ciraport }}
    {{- if and (eq .Values.service.type "NodePort") (.Values.service.ciraNodePort) }}
    nodePort: {{ .Values.service.ciraNodePort }}
    {{- end }}
    
  - port: {{ .Values.service.webapiport }}
    name: webapi
    protocol: TCP
    targetPort: {{ .Values.service.webapiport }}
    {{- if and (eq .Values.service.type "NodePort") (.Values.service.webapiNodePort) }}
    nodePort: {{ .Values.service.webapiNodePort }}
    {{- end }}
  selector:
    {{- include "mps.selectorLabels" . | nindent 4 }}
