# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name:  {{ include "onboarding-manager.fullname" . }}
  labels:
    {{- include "onboarding-manager.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.onboardingmgr.type }}
  ports:
  {{- if .Values.service.enableIO }}
    - name: grpc
      port: {{ .Values.service.onboardingmgr.port }}
      targetPort: grpc-port
      protocol: TCP
  {{- end }}
    - name: grpcnio
      port: {{ .Values.service.onboardingmgr.portnio }}
      targetPort: grpc-port-nio
      protocol: TCP
    {{- if .Values.metrics.enabled }}
    - name: metrics
      port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
    {{- end }}
  selector:
    {{- include "onboarding-manager.selectorLabels" . | nindent 4 }}
---
{{- if and .Values.traefikReverseProxy.enabled .Values.service.enableIO }}
apiVersion: {{ .Values.traefikApiGroup }}
kind: IngressRoute
metadata:
  name: "onboardingmgr-api-grpc"
  namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
spec:
  entryPoints: # We listen to requests coming from ports 443
  - websecure
  routes:
  - match: "Host(`{{ .Values.traefikReverseProxy.host.grpc.name }}`) && PathPrefix(`/`)"
    kind: Rule
    middlewares:
      - name: validate-jwt
    services:
      - name: {{ include "onboarding-manager.fullname" . }}
        port: {{ .Values.service.onboardingmgr.port }}
        scheme: h2c
        namespace: {{ .Release.Namespace }}

  tls:
    # Use the secret generated by cert-manager that resides in orch-gateway namespace
    secretName: {{ .Values.traefikReverseProxy.secretName }}
{{- if .Values.traefikReverseProxy.tlsOption }}
    options:
      name: {{ .Values.traefikReverseProxy.tlsOption }}
      namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
{{- end }}
{{- end }}

---
{{- if .Values.traefikReverseProxy.enabled }}
apiVersion: {{ .Values.traefikApiGroup }}
kind: IngressRoute
metadata:
  name: "onboardingmgr-api-grpc-stream"
  namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
spec:
  entryPoints: # We listen to requests coming from ports 443
    - websecure
  routes:
    - match: "Host(`{{ .Values.traefikReverseProxy.host.stream.name }}`) && PathPrefix(`/`)"
      kind: Rule
      services:
        - name: {{ include "onboarding-manager.fullname" . }}
          port: {{ .Values.service.onboardingmgr.portnio }}
          scheme: h2c
          namespace: {{ .Release.Namespace }}
  tls:
    # Use the secret generated by cert-manager that resides in orch-gateway namespace
    secretName: {{ .Values.traefikReverseProxy.secretName }}
{{- if .Values.traefikReverseProxy.tlsOption }}
    options:
      name: {{ .Values.traefikReverseProxy.tlsOption }}
      namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
{{- end }}
{{- end }}
