# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
apiVersion: batch/v1
kind: Job
metadata:
  name: amt-password-{{ randAlphaNum 8 | lower }}
  {{- with .Values.jobAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "dm-manager.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dm-manager.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: OnFailure
      serviceAccountName:  {{ .Values.serviceAccount.name }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-password
          imagePullPolicy: {{ .Values.curlImage.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.curlImage.name }}:{{ .Values.curlImage.tag }}"
          command: ["/bin/sh"]
          args: ["/amt-password.sh"]
          {{- if eq .Values.params.passwordPolicy "static" }}
          env:
            - name: AMT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "dm-manager.fullname" . }}-amt-password
                  key: amt-password
          {{- end }}
          volumeMounts:
            - mountPath: /amt-password.sh
              subPath: amt-password.sh
              name: amt-password
      volumes:
        - name: amt-password
          configMap:
            name: amt-password
            defaultMode: 0777
