# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ include "dm-manager.fullname" . }}
  labels:
    {{- include "dm-manager.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: {{ .Values.service.dmmgr.port }}
      targetPort: {{ .Values.service.dmmgr.port }}
      protocol: TCP
   {{- if .Values.metrics.enabled }}
    - name: metrics
      port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
   {{- end }}
  selector:
    {{- include "dm-manager.selectorLabels" . | nindent 4 }}
---
{{- if .Values.traefikReverseProxy.enabled }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "dmmgr-api-grpc"
  namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
spec:
  entryPoints: # We listen to requests coming from ports 443
  - websecure
  routes:
  - match: "Host(`{{ .Values.traefikReverseProxy.host.grpc.name }}`) && PathPrefix(`/`)"
    kind: Rule
    middlewares:
      - name: validate-jwt
    services:
      - name: {{ include "dm-manager.fullname" . }}
        port: {{ .Values.service.dmmgr.port }}
        scheme: h2c
        namespace: {{ .Release.Namespace }}

  tls:
    # Use the secret generated by cert-manager that resides in orch-gateway namespace
    secretName: {{ .Values.traefikReverseProxy.secretName }}
{{- if .Values.traefikReverseProxy.tlsOption }}
    options:
      name: {{ .Values.traefikReverseProxy.tlsOption }}
      namespace: {{ .Values.traefikReverseProxy.gatewayNamespace }}
{{- end }}
{{- end }}