# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
{{- $registry := .Values.global.registry -}}
{{ if .Values.image.registry }}
  {{- $registry = .Values.image.registry -}}
{{ end}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "os-resource-manager.fullname" . }}
  labels:
    {{- include "os-resource-manager.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "os-resource-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "os-resource-manager.selectorLabels" . | nindent 12 }}
    spec:
      {{- if hasKey $registry "name" }}
      {{- with $registry.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "os-resource-manager.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if hasKey $registry "name" }}
          image: "{{ $registry.name }}{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.managerArgs.oamServerAddress }}
           {{- $oamservport:= (splitList ":" .Values.managerArgs.oamServerAddress) | last | atoi }}
          livenessProbe:
            grpc:
              port: {{ $oamservport }}
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            grpc:
              port: {{ $oamservport }}
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
          {{- end }}
          {{- if .Values.metrics.enabled }}
          ports:
          - name: metrics
            containerPort: {{ .Values.metrics.port }}
            protocol: TCP
          {{- end }}
          args:
          - "--inventoryAddress={{ .Values.managerArgs.inventoryAddress }}"
          - "--oamServerAddress={{ .Values.managerArgs.oamServerAddress }}"
          - "--osProfileRevision={{ .Values.managerArgs.osProfileRevision }}"
          {{- if .Values.autoProvision.enabled }}
          - "--defaultProfile={{ .Values.autoProvision.defaultProfile }}"
          {{- end }}
          - "--autoProvisionEnabled={{ .Values.autoProvision.enabled }}"
          - "--osSecurityFeatureEnable={{ .Values.managerArgs.osSecurityFeatureEnable }}"
          {{- if .Values.managerArgs.enableTracing }}
          - "--enableTracing={{ .Values.managerArgs.enableTracing }}"
          - "--traceURL={{ .Values.managerArgs.traceURL }}"
          {{- end }}
          {{- if .Values.globalLogLevel }}
          - "--globalLogLevel={{ .Values.managerArgs.globalLogLevel }}"
          {{- end}}
          - "--enabledProfiles={{ .Values.managerArgs.enabledProfiles | join "," }}"
          {{- if .Values.managerArgs.disableProviderAutomation }}
          - "--disableProviderAutomation"
          {{- end }}
          {{- if .Values.metrics.enabled }}
          - "--enableMetrics=true"
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: http_proxy
              value: "{{ .Values.global.proxies.http_proxy }}"
            - name: https_proxy
              value: "{{ .Values.global.proxies.https_proxy }}"
            - name: no_proxy
              value: "{{ .Values.global.proxies.no_proxy }}"
            - name: HTTP_PROXY
              value: "{{ .Values.global.proxies.http_proxy }}"
            - name: HTTPS_PROXY
              value: "{{ .Values.global.proxies.https_proxy }}"
            - name: NO_PROXY
              value: "{{ .Values.global.proxies.no_proxy }}"
            - name: OIDC_SERVER_URL
              value: "{{ .Values.oidc.oidc_server_url }}"
            - name: OIDC_TLS_INSECURE_SKIP_VERIFY
              value: "{{ .Values.oidc.oidc_tls_insecure_skip_verify_value }}"
            - name: ALLOW_MISSING_AUTH_CLIENTS
              value: {{ join "," .Values.oidc.clients.bypass | default "" }}
            - name: RSPROXY_ADDRESS
              value: "{{ .Values.managerArgs.rsProxyRegistryAddress }}"
            - name: RSPROXY_FILES_ADDRESS
              value: "{{ .Values.managerArgs.rsProxyFilesAddress }}"
            - name: RS_EN_PROFILE_REPO
              value: "{{ .Values.managerArgs.rsEnProfileRepo }}"
            - name: INVENTORY_TICKER_PERIOD
              value: "{{ .Values.managerArgs.inventoryTickerPeriod }}"

      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
