# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

global:
  registry:
    name: null
    imagePullSecrets:
      - name: ""

replicaCount: 1

image:
  repository: intel/oact-rps
  tag: latest
  pullPolicy: IfNotPresent

rps:
  logLevel: "silly"
  vault_url: "http://vault.orch-platform.svc:8200"
  vaultRole: "orch-svc"
  secretpath: "secret/data/"
  mps_server: "http://mps:3000"

nameOverride: ""
fullnameOverride: "rps"

tenancyMiddleware:
  enabled: true

job:
  name: setup-databases-rps
  configmap: rps-configmap
ingress:
  name: "amt-api-rps"

config:
  webSocketServer:
    # -- websocket protocol: either ws or wss
    protocol: "wss"
    # -- host name of websocket server
    # -- examples: vnc.kind.internal, vnc.demo.maestro.intel.com
    hostName: "mps.kind.internal"

reloader:
  # Create ClusterRole/ClusterRoleBinding for Reloader to watch secrets across namespaces
  # Set to false when deploying alongside MPS chart to avoid conflicts
  # Set to true only when deploying RPS independently
  createRBAC: true

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 65534

service:
  type: ClusterIP
  websocketServerport: 8080
  webapiport: 8081
  websocketServerNodePort: 8080
  webapiNodePort: 8081

serviceAccount:
  enabled: true
  name: orch-svc

traefikReverseProxy:
  host:
    grpc:
      name: ""
    webport:
      name: ""
  websocketServer:
    enabled: true
  dnsname: 
  # -- enabled is a switch to turn on/off the Traefik reverse proxy resource; Traefik MUST be deployed to gateway-system ns before enabling it here.
  enabled: false
  # -- gatewayNamespace specifies namespace of Traefik and related resources (e.g. k8s secret or tls option).
  gatewayNamespace: orch-gateway
  # -- secretName is name of k8s secret containing TLS server cert.
  secretName: tls-demo
  # -- matchRoute defines routing rules (e.g. Host(`http.sample.com`))
  matchRoute:
  # -- tlsOption is the name of the Traefik option for handling TLS or mTLS connections.
  tlsOption: gateway-tls

traefikApiGroup: "traefik.containo.us/v1alpha1"

podAnnotations: {}

imagePullSecrets: {}

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  image:
    name: postgres
    tag: 16.4
    pullPolicy: IfNotPresent
  type: "local"
